.App {
  text-align: center;
}

p {
  margin-block-start: 16px;
  margin-block-end: 16px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  border-bottom: 1.5px grey solid;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: grey;
  margin-bottom: 30px;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: grey;
}

.row {
  display: flex;
  direction: row;
  align-items: center;
  perspective: 1000px;
}

.attribute {
  width: 85px;
  background: white;
  border: 3px white solid;
  font-size: 14px;
  margin: 5px;
}

/* grid squares: .flip-container, flip.inner, square */

.flip-container {
  background-color: transparent;
  width: 85px;
  height: 85px;
  margin: 8px;
  perspective: 1000px;
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border: 3px lightgrey solid;
}

.flip-container.flip .flip-inner {
  transform: rotateY(180deg);
}

.square.front,
.square.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 14px;
}

.square.front {
  background: white;
}

.square.back {
  transform: rotateY(180deg);
}

.red {
  background: #d8403be2 !important;
}

.green {
  background: #6cb965 !important;
}

/* character images */

.character-image {
  width: 40px;
  height: 40px;
}

.character-option {
  align-items: end;
}

.character-image-column {
  width: 85px;
  height: 85px;
}